<h1>Welcome to Index of All Events</h1>

<ul>
  <% @events.each do |event| %>
    <li>
        <p>
            <%= event.id %>
        </p>
        <p>
            <strong>Event name:</strong>
            <%= event.name %>
        </p>
        <p>
            <strong>Event date:</strong>
            <%= event.date %>
        </p>
        <p>
            <strong>Event venue:</strong>
            <%= event.venue %>
        </p>

      <%= link_to "Click to attend", user_event_path(event.creator_id, event) %>
    </li>
  <% end %>
</ul>



<%= link_to 'Click here to create a new event', new_user_event_path(current_user.id) %>